@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

html {
    font-family: 'Roboto Mono', monospace;
}

body {
    width: 100%;
    margin: 2rem;
}

table .bold {
    color: #fff;
    background-color: #666;
}

table .disabled {
    background-color: #ddd;
}

.matrix-table {
    padding: 0.6rem 1rem;
    text-align: center;
}

.matrix-table td {
    width: 1rem;
    padding: 0.6rem;
}

.matrix-table td.active {
    background: #43a047;
    color: #fff;
}

.result-table {
    border: 1px solid #aaa;
}

.result-table td {
    padding: 0.4rem 2rem;
}

.result-table th {
    padding: 0.4rem 2rem;
    background-color: #666;
    color: #fff;
}

input-iterations-div {
    display: flex;
    flex-direction: row;
}

input {
    width: 6rem;
    padding: 0.3rem 1rem;
    text-align: center;
    font-size: 1.2rem;
    margin: 1rem 0;
}

label {
    font-size: 1.2rem;
    margin-right: 0.5rem;
}

#search {
    width: 24rem;
    text-align: left;
    margin-top: 3rem;
}

#error-message {
    color: red;
}

.input-div p {
    display: inline-block;
    width: 6rem;
    color: #fff;
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    border-radius: 6px;
    background-color: #3f51b5;
}

.input-div p:active {
    background-color: #303f9f;
}
